@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}
.page {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}
.header__logo-wrapper {
    display: flex;
    align-items: center;
}
.header__logo {
    margin-left: 45px;
}
.header__nav {
    display: flex;
    align-items: center;
    margin-left: 308px;
}
.header__nav-list {
    display: flex;
    gap: 50px;
}
.header__nav-buttons {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #214E41;
    font-weight: 700;
}
.header__nav-buttons:hover {
    cursor: pointer;
}
.header__other-elements {
    display: flex;
}
.header__demo-wrapper {
    display: flex;
    align-items: center;
    margin-left: 69px;
}
.header__demo {
    width: 137px;
    height: 40px;
    background: #43806C;
    border-radius: 6px;
}
.header__demo:hover {
    cursor: pointer;
    background-color: #8faea3;
    transition: all 0.1s;
}
.demo-text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
}
.header__login-wrapper {
    display: flex;
    align-items: center;
}
.header__login {
    margin-left: 29px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__login:hover {
    cursor: pointer;
}
.login-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #214E41;
}
.login-text:hover {
        cursor: pointer;
}
.header__lang-wrapper {
    display: flex;
    align-items: center;
}
.header__lang {
    margin-left: 44px;
}
.lang-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #214E41;
}
.header__lang:hover {
    cursor: pointer;
}
.header__search {
    height: 720px;
    background-image: url(../img/bnd1.png);
    background-size: cover;
    position: relative;
}
.header__quote1 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    height: 138px;
    width: 516px;
    margin: 161px 0 0 120px;
}
.header__quote2 {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #214E41;
    margin: 339px 0 0 120px;
}
.header__search-container {
    display: flex;
    position: absolute;
    margin: 379px 0 0 120px;
    width: 403px;
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
}
.header__ins,
.header__ins::placeholder {
    width: 280px;
    height: 100%;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    padding-left: 20px;
    
}
.header__ins:focus {
    outline: none;
}
.header__ins:focus::placeholder {
    opacity: 0;
    transition: all 0.2s;
}
.header__inb {
    width: 123px;
    height: 100%;
    background-color: #43806C;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px 35px;
}
.header__inb:hover {
    cursor: pointer;
    background-color: #8faea3;
    transition: all 0.1s;
}
.ben-container {
    width: 1200px;
    height: 171px;
    display: flex;
    position: absolute;
    top: 715px;
    left:50%;
    transform:translate(-50%);
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
    border-radius: 6px;
}
.ben-container__wrapper {
    display: flex;
    width: 356px;
    height: 71px;
    padding: 48px 0 52px;
}
.ben-container__wrapper:first-child {
    margin-left: 50px;
}
.ben-container__wrapper:nth-child(2) {
    margin-left: 45px;
}
.ben-container__descr-wrapper {
    margin-left: 10px;
}
.ben-container__descrh {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #214E41;
}
.ben-container__descr {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #214E41;
    margin-top: 7px;
}
.ben-container__umbrella {
    width: 41px;
    height: 45px;
}
.ben-container__checkmark {
    width: 46px;
    height: 45px;
}
.ben-container__moneybox {
    width: 58px;
    height: 45px;
}
.banner-container {
    width: 1200px;
    margin: 213px auto 120px auto;
    display: flex;
    justify-content: center;
    gap: 103px;
}
.banner-container__legend {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
}
.banner-container__reasons-wrapper {
    width: 478px;
    height: 138px;
}
.banner-container__heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    margin-top: 20px;
}
.banner-container__descr {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;   
    margin-top: 34px;
}
.banner-container__percent-link-wrapper {
    width: 107px;
    text-align: center;
    position: relative;
    margin-top: 24px;
}
.banner-container__planlink-hr {
    background: #214E41;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 2px;
}
.banner-container__planlink {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02px;
    color: #214E41;
    text-decoration: none;
}
.banner-container__statistic-wrapper {
    display: flex;
}
.banner-container__percent {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #214E41;
}
.banner-container__percent-descr {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: #214E41;
    margin-top: 30px;
}
.banner-container__percent-descr:last-child {
    width: 189px;
    margin-top: 0;
}
.banner-container__percent-link {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: #214E41;
    padding-left: 4px;
}
.banner-container__hr {
    height: 2px;
    width: 510px;
    background: #F0A446;
    position: absolute;
}
.banner-container__table > tbody tr {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #214E41
}
.banner-container__table > tbody > tr > td:first-child {
    vertical-align: bottom;
    padding-left: 32px;
}
.banner-container__table > tbody > tr > td:last-child {
    vertical-align: bottom;
    padding-left: 40px;
}
.banner-container__table > tbody tr:last-child {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}
caption { 
    caption-side: bottom;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #757575;
}
.banner2-container {
    display: flex;
}
.banner2-container__ban1,
.banner6-container__ban2 {
    background: #E3EEED;
}
.banner2-container__ban2 {
    background: #214E41;
}
.banner2-container__legend {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #214E41;
    padding: 120px 0 0 120px;
}
.banner2-container__headlink-wrap {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 29px 197px 0 120px;
}
.banner2-container__headlink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #214E41;
    width: 345px;
}
.banner2-container__list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #43806C;
    padding: 18px 0 129px 120px;
}
.banner2-container__list li {
    padding-top: 18px;
}
.banner2-container__ban-descr {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    padding: 165px 132px 0 115px;
}
.banner2-container__ban-descr:last-child {
    padding: 34px 132px 203px 115px;
}
.banner3-container__section1,
.banner3-container__section2,
.banner3-container__section3 {
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
}
.banner3-container__wrapper1 {
    width: 556px;
}
.banner3-container__wrapper1,
.banner3-container__wrapper2 {
    padding-top: 120px;
}
.banner3-container__legend1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
} 
.banner3-container__headlink1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    padding-top: 20px;
}
.banner3-container__ban-descr1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
    padding-top: 34px;
}
.banner3-container__illustration1 {
    height: 298px;
    width: 560px;
    margin-left: 83px;
}
.banner3-container__section2 table {
    padding-top: 60px;
}
.banner3-container__section2 td {
    padding-left: 50px;
}
.banner3-container__section2 td:first-child {
    padding-left: 0;
}
.banner3-container__section2 tr:first-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #F0A446;
}
.banner3-container__section2 tr:last-child {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: #214E41;
}
.banner3-container__section3 {
    margin-top: 117px;
    height: 500px;
}
.banner3-container__wrapper3 {
    width: 50%;
}
.banner3-container__illustration2 {
    vertical-align: bottom;
    padding-left: 115px;
}
.banner3-container__wrapper4 {
    width: 50%;
    padding: 69px 0 0 34px;
}
.banner3-container__legend2,
.banner4-container__legend2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
}
.banner3-container__headlink2,
.banner4-container__headlink2,
.banner5-container__headlink,
.banner6-container__headlink1,
.banner6-container__headlink2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    padding-top: 20px;
}
.banner3-container__ban-descr2,
.banner4-container__ban-descr2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
    padding-top: 34px;
}
.videolink a {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02px;
    color: #214E41;
    padding-top: 24px;
    text-decoration: none;
}
.banner3-container__hr,
.banner4-container__hr {
    height: 2px;
    margin-top: 14px;
    background: #214E41;
}
.banner3-container__hr {
    width: 88px;
}
.banner4-container__hr {
    width: 100px;
}
.banner4-container {
    height: 522px;
    background-image: url(../img/work.png);
}
.banner4-container__wrapper {
    padding: 126px 829px 112px 120px;
}

.banner5-container__headlink {
    text-align: center;
    padding-top: 120px;
}
.banner5-container__wrapslide {
    display: flex;
    justify-content: center;
    align-items: center;
   /* gap: 80px;*/
    margin: 115px 120px 125px;
}
.banner5-container__hr {
    background: rgba(199, 199, 199, 0.37);
    width: 1350px;
    height: 1px;
    border-radius: 0px;
    margin: auto;
}
[class^="banner5-container__illustration"] {
    padding: 0 20px 0 60px;
}
.banner5-container__illustration5 {
    padding: 0 60px;
}
.banner5-container5__wrapper2 {
    margin: 120px 150px;
}

.banner5-container5__wrapper2 td {
    box-sizing: content-box;
    max-width: 335px;
    padding: 0 20px;
}
[class^="banner5-container__img"] {
    height: 100%;
}
.banner5-container5__wrapper2 tr:nth-child(2) td {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
    vertical-align: top;
    padding-top: 20px;
}
.banner5-container5__wrapper2 tr:nth-child(3) td {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #214E41;
    vertical-align: top;
    padding-top: 15px;
}
.banner6-container {
    display: flex;
}
.banner6-container__ban1,
.banner6-container__ban2 {
    width: 50%;
}
.banner6-container__ban1 {
    background-image: url(../img/oldman.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner6-container__headlink1 {
    padding: 144px 177px 0 120px;
}
.banner6-container__headlink2 {
    padding: 46px 0 0 120px;
}
.banner6-container__button {
    box-sizing: content-box;
    text-align: center;
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.019999999552965164px;
    color: #fff;
    line-height: 47px;
    height: 47px;
    width: 125px;
    background: #43806C;
    border: none;
    border-radius: 6px;
    margin: 60px 0 96px 120px;
}
.banner6-container__button:hover {
    cursor: pointer;
    background-color: #8faea3;
    transition: all 0.1s;
}
.footer {
    background-color: #214E41;
    color: white;
    font-family: "Raleway", sans-serif ;
    font-weight: 400;
}
.foot-container {
    padding: 100px 120px 50px 120px;
}
.foot-container__wrapper1 {
    display: flex;
    position: relative;
    box-sizing: content-box;
    padding-bottom: 94px;
}
.foot-container__input-wrapper {
    width: 355px;
    height: 52px;
    display: flex;
    border: 1px solid #FFFFFF;
    justify-content: space-between;
    margin-top: 16px;
}
.foot-container__footnav1 {
    margin:0 0 0 105.5px;
}
.foot-container__footnav2 {
    margin:0 0 0 115px;
}
:is(.foot-container__footnav1, .foot-container__footnav2) dt {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.02px;
    text-transform: uppercase;
}
:is(.foot-container__footnav1, .foot-container__footnav2) dd {
    margin: 15px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
.foot-container__signup-wrapper {
    position: absolute;
    right: 0;
}
.foot-container__footheading {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.02px;
    text-transform: uppercase;
}
.foot-container__footsign {
    max-width: 345px;
    margin-top: 19px;
}
.foot-container__ins,
.foot-container__ins::placeholder {
    width: 302px;
    border: none;
    background-color: #214E41;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    outline: none;
}
.foot-container__ins:focus::placeholder {
    opacity: 0;
    transition: all 0.2s;
}
.foot-container__inb-wrapper {
    width: 53px;
    height: 50px;
    position: relative;
    background-color: #fff;
}
.foot-container__inb {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 2;
    opacity: 0;
}
.foot-container__svgb {
    position: absolute;
    top: 18px;
    left: 17px;
    z-index: 1;
}
.foot-container__inb-wrapper:hover {
    background-color: #8faea3;
    transition: all 0.1s;
}
.foot-container__inb:hover {
    cursor: pointer;
}
.foot-container__svg {
    display: flex;
    gap: 25px;
    margin-top: 32px;
    align-items: center;
}
.foot-container__hr {
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    margin-bottom: 73px;
}
.foot-container__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02px;
}
.foot-container__descr:first-child {
    margin-bottom: 20px;
}
.foot-container__descr:nth-child(2) {
    margin-bottom: 24px;
}
.foot-container__descr:last-child {
    margin-bottom: 90px;
}
.foot-container__wrapper3 {
    display: flex;
    justify-content: space-between;
}
.foot-container__priv-serv {
    display: flex;
    gap: 9px;
}
.foot-container__privacy {
    box-sizing: content-box;
    padding-right: 10px;
    border-right: solid 1px white;
}
.foot-container__link2 {
    position: relative;
}
.playsvg {
    position: absolute;
    top: 6.29px;
    left: 10.24px;
}
